@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* nav-menu bar */
nav {
  display: flex;
  margin: 27px 135px;
}

.logo {
  width: 109px;
  height: 53px;
  margin-right: 70px;
}

.nav-menu {
  margin-right: 130px;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-menu a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #010101;

  margin: 0px 26px;
  text-decoration: none;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 55px;
  font-size: 20px;
  color: #ed017f;
}
.btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  background: #ed017f;
  border-radius: 4px;
}
.btn-a a {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}
/*  header */
.header-section {
  display: flex;
}
/* header Left */
.left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.heading {
  margin-top: 150px;
  margin-left: 135px;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 63px;
  line-height: 68px;

  color: #010101;
}
.paragraph-text {
  margin-left: 135px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #676767;
}
.header-btn {
  margin-left: 135px;
  margin-bottom: 25px;
  display: flex;
}
.btn-b {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  background: white;
  border: 2px solid #ed017f;
  border-radius: 4px;
}
.btn-b a {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ed017f;
}
.contact-info {
  margin-left: 135px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
/* .phone-number{
 
} */
.contact-info {
  margin-top: 80px;
}
.number {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
}

.social-icon i {
  cursor: pointer;
  margin-left: 15px;
  font-weight: 800;
  font-size: 17px;
}
.stick {
  color: lightgray;
}
.phone,
.insta {
  color: #ed017f;
}
.fb,
.li {
  color: #4b7fcd;
}
.yt {
  color: red;
}

/* right header */
.right {
  position: relative;
}
.btn-c {
  display: inline-block;
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 0.12);
  border-radius: 55px;
}
.btn-c a {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  color: #343434;
}
.btn-c i {
  color: #ed017f;
}
.car-loan {
  position: absolute;
  top: 80px;
  left: 80px;
}
.home-loan {
  position: absolute;
  top: 140px;
  right: 80px;
}

/* SECTION ONE*/

.one {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.one h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  color: #343434;
}

.one p {
  margin: 30px 400px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}

/* SECTION TWO  */
.card-container {
  margin: 100px 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;

  justify-items: center;
}
.card {
  height: 250px;
  width: 230px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.205);
}

.card i {
  font-size: 25px;
  color: #ed017f;
  font-weight: 700;
}

.card h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #363940;
}
.card p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.sponsor-logo {
  height: 550px;
  background-color: #ed017f;
}

/* sponsor */

.three {
  background-color: rgba(252, 224, 239, 0.2);
}
.sponsor-info h1 {
  padding-top: 100px;
  font-weight: 550;
  text-align: center;
  font-size: 30px;
  line-height: 23px;

  letter-spacing: 2px;

  color: #343434;
}

.logo-container {
  padding: 90px 130px;
  display: flex;
  justify-content: space-around;
}
/* Section FOUR */

.container-four {
  margin-top: 100px;
  display: flex;
}
.four .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.left img {
  width: 100%;
  height: 70%;
}

.four .right {
  display: flex;
  width: 50%;
  padding: 100px 50px;
}
.right h1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #343434;
}
.right p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;

  color: #676767;
}
.right a {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ed017f;
}
.btn-end {
  margin: 60px 100px;
}
/* SECTION FIVE */
.five {
  margin: 100px 0px;
  background-color: rgba(252, 224, 239, 0.2);
}
.top-text {
  padding-top: 60px;
  text-align: center;
}
.top-text h1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #343434;
}
.top-text p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #676767;
}

.img-box-container {
  display: flex;
  margin: 65px 135px;
}
.img-box {
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.205);
  margin: 15px;
}
.img-box-text {
  display: flex;
  align-items: center;
}
.img-box-text h2 {
  font-weight: 600;
  font-size: 21px;
  line-height: 35px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #363940;
  padding-right: 30px;
}
.img-box-text i {
  color: #ed017f;
  padding: 10px;
  border-radius: 50%;
  background-color: #fce0ef;
  font-size: 16px;
}
